<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <!-- <%#= f.label :format %><br> -->
    <!-- <%#= f.select(:format, options_for_select([["Swiss Pairings, With Finals", "Swiss Pairings, With Finals"], ["Swiss Pairings, Without Finals", "Swiss Pairings, Without Finals"]])) %><br><br> -->
    <%= f.label :location %><br>
    <%= f.text_field :location %><br><br>
    <%= f.label :date %><br>
    <%= f.date_select :date %><br><br>
    <%= f.label :details %><br>
    <%= f.text_area :details, cols: 50, rows: 10 %><br><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
