<ol id="player_sidebar">
<% @tournament.order_players.each do |p| %>
  <li>
    <strong><%= p.player.name %></strong>
    <% if @tournament.current_round != nil %>
      <br>
      <%= p.match_points %> points | <%= p.record %> | <%= (p.opponents_match_avg * 100).round(2) %>%
    <% else %>
      <%= link_to 'x', :controller => "tournaments", action: "remove_player", :p_id => p.id %>
    <% end %>
  </li>
<% end %>

    
</ol>

