<table style="text-align: center;">
  <thead>
    <tr><h4> The Current Round is <%= @tournament.current_round %> </h4></tr>
    <tr>
      <th>Player 1</th>
      <th>Match Results</th>
      <th>Player 2</th>
      <th></th>
    </tr>
  </thead>

  <% @tournament.matches.select{ |m| m.round == @tournament.current_round }.each do |match| %>
    <tr style="<%= "background-color: grey;" if match.finished? %>">
    <%= form_for match, url:  {action: "update_results"} do |f| %>
      <td><%= match.player_1.player.name %></td>
      <% if match.player_2 != nil %>
        <td>
          <%= f.select(:game_1, options_for_select([["-", nil],["P 1", match.player_1_id], ["P 2", match.player_2_id], ["D", 0]]))%>
          <%= f.select(:game_2, options_for_select([["-", nil],["P 1", match.player_1_id], ["P 2", match.player_2_id], ["D", 0]]))%>
          <%= f.select(:game_3, options_for_select([["-", nil],["P 1", match.player_1_id], ["P 2", match.player_2_id], ["D", 0]])) %>
          <%= f.hidden_field :match_id, :value => match.id %>
        </td>
        <td><%= match.player_2.player.name %></td>
        <td><%= f.submit "Update Results" %></td>
      <% else %>
        <td>
          <%= f.hidden_field :game_1, :value => match.player_1_id %>
          <%= f.hidden_field :game_2, :value => match.player_1_id %>
          <%= f.hidden_field :match_id, :value => match.id %>
        </td>
        <td>BYE</td>
        <td><%= f.submit "Confirm Bye" %></td>
      <% end %>
    <% end %>
    </tr>
<% end %>



</table>