<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<ol>
  <% @tournament.order_players.each do |p| %>
    <li>
      <%= p.player.name %> | <%= p.match_points %> points
    </li>
  <% end %>
</ol>

<%= button_to 'Generate Round', action: "generate_round" %>

<% if @tournament.current_round != "nil" %>
  <%= render 'round' %>
<% end %>

  

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
