<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %><br>
  <strong>Format:</strong>
  <%= @tournament.format if @tournament.format %><br>
  <strong>Date:</strong>
  <%= @tournament.date if @tournament.date %><br>
  <strong>Location:</strong>
  <%= @tournament.location if @tournament.location %><br>
  <strong>Details:</strong>
  <%= @tournament.details if @tournament.details %><br>
</p>

<%= form_for @tournament, :url => {:action => 'add_players'} do |f| %>
<%= f.text_field :name, :value => "", placeholder: "Name" %>
<%= f.submit "Add Players" %>
<% end %>

<% if @tournament.number_of_rounds %>
<h3> This Tournament Will Be <%= @tournament.number_of_rounds %> Rounds Long</h3>
<% end %>


<ol>
  <% @tournament.order_players.each do |p| %>
    <li>
      <%= p.player.name %> | <%= p.match_points %> points
    </li>
  <% end %>
</ol>

<% if @tournament.players.size < 8 %>
  The tournament must have at least 8 players.
<% elsif !@tournament.round_complete %>
  The next round can be generated once all matches are resolved
<% elsif @tournament.current_round == @tournament.number_of_rounds %>
  <%= button_to 'End Tournament', action: "end_tournament" %>
  <%= button_to 'Generate Finals', action: "generate_finals" %>
<% else %>
  <%= button_to 'Generate Next Round', action: "generate_round" %>
<% end %>


<% if @tournament.current_round && !@tournament.finals? %>
  <%= render 'round' %>
<% end %>

  
<br>
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
