<br>
<br>
<br>
<br>
<p style="text-align: center;">
  <strong>Name:</strong>
  <%= @tournament.name %> | 
  <strong>Format:</strong>
  <%= @tournament.format if @tournament.format %> | 
  <strong>Date:</strong>
  <%= @tournament.date if @tournament.date %> | 
  <strong>Location:</strong>
  <%= @tournament.location if @tournament.location %> | 
  <strong>Details:</strong>
  <%= @tournament.details if @tournament.details %>
</p>



<p id="notice"><%= notice %></p>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <% if @tournament.number_of_rounds && !@tournament.finished %>
          <h3> This Tournament Will Be <%= @tournament.number_of_rounds %> Rounds Long - Currently Round <%= @tournament.current_round %></h3>
          <% elsif @tournament.finished %>
          <h3> The Tournament is Finished. </h3>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="pairings_container">
          <div class="player_list_container">
        <div class="col-md-4" id="player_sidebar" >
          <% if !@tournament.current_round %>
          <%= form_for @tournament, :url => {:action => 'add_players'} do |f| %>
          <%= f.text_field :name, :value => "", placeholder: "Name" %>
          <%= f.submit "Add Players" %>
          <% end %>
          <% end %>


          <br>

          <ol>
            <% @tournament.order_players.each do |p| %>
              <li>
                <strong><%= p.player.name %></strong><br>
                <%= p.match_points %> points | <%= p.record %> | <%= (p.opponents_match_avg * 100).round(2) %>%
              </li>
            <% end %>
          </ol>

          <% if @tournament.players.size < 8 && !@tournament.finished %>
            The tournament must have at least 8 players.
          <% elsif !@tournament.round_complete %>
            The next round can be generated once all matches are resolved
          <% elsif @tournament.current_round == @tournament.number_of_rounds && @tournament.current_round != nil && !@tournament.finished %>
            <%= button_to @tournament.end_message , action: "end_prelims" %>
          <% elsif !@tournament.finished %>
            <%= button_to 'Generate Next Round', action: "generate_round" %>
          <% end %>
        </div>

        <div class="col-md-8" id="pairing_sidebar" style="text-align: center;" >
          <% if @tournament.current_round && !@tournament.finals? %>
            <%= render 'round' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    
  <br>


