<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<%= form_for @tournament, :url => {:action => 'add_players'} do |f| %>
<%= f.text_field :name, :value => "Name" %>
<%= f.submit "Add Players" %>
<% end %>

<% if @tournament.number_of_rounds %>
<h3> This Tournament Will Be <%= @tournament.number_of_rounds %> Rounds Long</h3>
<h4> The Current Round is <%= @tournament.current_round %> </h4>
<% end %>


<ol>
  <% @tournament.order_players.each do |p| %>
    <li>
      <%= p.player.name %> | <%= p.match_points %> points
    </li>
  <% end %>
</ol>

<% if @tournament.players.size >= 8 %>
<%= button_to 'Generate Round', action: "generate_round" %>
<% end %>


<% if @tournament.current_round != "nil" %>
  <%= render 'round' %>
<% end %>

  

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
